<ion-header>

  <ion-navbar>
    <ion-title>{{'Add Request'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content dir="ltr">
  <form [formGroup]="RequestForm" novalidate (ngSubmit)="sendRequest()" class="inner-content">
    <ion-list>
      <ion-item>
        <ion-label stacked>{{'project title'|translate}}</ion-label>

        <ion-input type="text" placeholder="Request title" formControlName="title"></ion-input>
      </ion-item>
      <ion-item (click)="openModal()">
        <ion-label>{{'Request location'|translate}}</ion-label>

        <ion-label text-center>{{MreqAddress}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{'Request Add location'|translate}}</ion-label>
        <ion-label text-center (click)="locationmodal()" color="lighDark">
          <ion-icon item-start ios="ios-pin" md="ios-pin" color="primary"></ion-icon>{{'Click to add location'|translate}}</ion-label>
      </ion-item>
<!--<section *ngFor="let shape of FormsShapes">-->
  <!--<ion-item *ngIf="shape.type === 'input'">-->

    <!--<ion-label stacked>{{shape.label}}</ion-label>-->
    <!--<ion-input [type]="shape.type" [formControlName]="shape.id" [placeholder]="shape.place_holder"></ion-input>-->

  <!--</ion-item>-->
  <!--<ion-item *ngIf="shape.type === 'select'">-->
    <!--<ion-label>-->
      <!--{{shape.label}}-->
    <!--</ion-label>-->
    <!--<ion-select [placeholder]="shape.accurate_message" [formControlName]="shape.id" [okText]="pageParams.lang_code=='ar'?'تم':'ok'" [okText]="pageParams.lang_code=='ar'?'الغاء':'cancel'">-->
      <!--&lt;!&ndash;<ion-option selected>{{selectBox.accurate_message}}</ion-option> &ndash;&gt;-->
      <!--<ion-option *ngFor="let subSelect of shape.sub" [value]="subSelect.id">{{subSelect.label}}</ion-option>-->
    <!--</ion-select>-->
  <!--</ion-item>-->
<!--</section>-->


    </ion-list>
    <section formGroupName="forms">
    <!-- input form-->
    <ion-list *ngIf="newFormDs?.input">

      <ion-item *ngFor="let input of newFormDs.input">
        <ion-label stacked>{{input.label}}</ion-label>
        <ion-input [type]="input.type|translate" [formControlName]="input.id" [placeholder]="input.place_holder"></ion-input>

      </ion-item>

    </ion-list>

    <ion-list *ngIf="newFormDs?.select">
      <ion-item *ngFor="let selectBox of newFormDs.select">
        <ion-label>
          {{selectBox.label}}
        </ion-label>
        <ion-select [placeholder]="selectBox.accurate_message" [formControlName]="selectBox.id" [okText]="pageParams.lang_code=='ar'?'تم':'ok'" [okText]="pageParams.lang_code=='ar'?'الغاء':'cancel'">
          <!--<ion-option selected>{{selectBox.accurate_message}}</ion-option> -->
          <ion-option *ngFor="let subSelect of selectBox.sub" [value]="subSelect.id">{{subSelect.label}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <section *ngIf="newFormDs?.checkbox">
      <ion-list 
        *ngFor="let checkInput of newFormDs.checkbox" 
        class="checkbox-list"
        [formGroupName]="checkInput.id">
        <ion-list-header>
          {{checkInput.label}}
        </ion-list-header>
        <ion-item  
        *ngFor="let checkOption of checkInput.sub;let i = index"
        >
          <ion-label>{{checkOption.label}}</ion-label>
          <!--[formControlName]="checkOption.id"-->
          <ion-checkbox checked="false"    (ionChange)="changed($event,checkInput.id,checkOption.id)"></ion-checkbox>
        </ion-item>

      </ion-list>

    </section>
    <section *ngIf="newFormDs?.radio">
      <ion-list *ngFor="let radioInput of newFormDs.radio" radio-group class="radio-list">
        <ion-list-header>
          {{radioInput.label}}
        </ion-list-header>

        <ion-item *ngFor="let radioOption of radioInput.sub">
          <ion-label>{{radioOption.label}}</ion-label>
          <ion-radio checked="false" [value]="radioOption.id"></ion-radio>
        </ion-item>
      </ion-list>
    </section>

    <section *ngIf="newFormDs.textarea" class="sec-textarea">
      <div class="texarea-item" *ngFor="let textArea of newFormDs.textarea">
        <p class="as-label">
          {{textArea.label}}
        </p>

        <textarea [formControlName]="textArea.id" [placeholder]="textArea.accurate_message||textArea.place_holder"></textarea>
      </div>


    </section>
  </section>
    <button type="submit" margin-top ion-button full >{{'Add Request'|translate}}</button>

  </form>
</ion-content>
