
<ion-header>
    <ion-navbar>
        <ion-title>{{'Balance'|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>


    <div class="main-content" *ngIf="!showLoader">

        <div class="my-balance">
            <div class="your-balance">
                <h2>{{'My Balance' | translate}}</h2>
                <h4 class="last-charge">{{'Last Recharge'|translate}} <span> {{userBalances.lastDate |  amDateFormat: 'DD-MM-YYYY hh:mmA'}}</span></h4>
            </div>

            <h2>{{userBalances.balanceSum ? userBalances.balanceSum : '0.0' }} <span>{{'EGP'|translate}}</span></h2>

            <div class="your-balance">
                <h4 class="last-end-date">{{userBalances.trial_msg}} <span>{{userBalances.lastEndDate |  amDateFormat: 'DD-MM-YYYY'}} </span> </h4>
            </div>
            
            <div class="view-history">
                <button *ngIf="userLocal.service_type != 1" ion-button outline (click)="renewMembershipmodal()">{{'renew_membership'|translate}}</button>
                <button ion-button outline (click)="BalanceHistorymodal()">{{'view history'|translate}}</button>
            </div>
            
        </div>

        <div class="recharge-div">
            <div class="methods">
                <h2>{{'Means of recharging'|translate}}</h2>
            </div>

            <ion-list>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="assets/img/pay/nbe.png">
                    </ion-thumbnail>
                    <h2>Charge via Bank</h2>
                    <p>You can charge your account via this bank account 012012254</p>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="assets/img/pay/post.jpg">
                    </ion-thumbnail>
                    <h2>Charge via Egypt post</h2>
                    <p>You can charge your account via this bank account 012012254</p>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="assets/img/pay/vod.png">
                    </ion-thumbnail>
                    <h2>Charge via vodafone cash</h2>
                    <p>You can charge your account via this bank account 012012254</p>
                </ion-item>
            </ion-list>
        </div>
    </div>

</ion-content>


