
<ion-header>
    <ion-navbar>
        <ion-title>{{'Work Time'| translate}}</ion-title>
        <ion-buttons start right>
            <button ion-button (click)="dismiss()">
                    <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list *ngIf="showAllworkTimeType" radio-group [(ngModel)]="workTimeType">
            <ion-item>
                <ion-label>{{'always_open'|translate}}</ion-label>
                <ion-radio value="1" checked (click)="radioChecked()"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>{{'permanently_closed'|translate}}</ion-label>
                <ion-radio value="2" (click)="radioChecked()"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>{{'no_hours_available'|translate}}</ion-label>
                <ion-radio value="3" (click)="radioChecked()"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>{{'open_on_selected_hour'|translate}}</ion-label>
                <ion-radio value="4" (click)="radioChecked()"></ion-radio>
            </ion-item>
        </ion-list>
        <div *ngIf="workTimeType == 4">
            <ion-list *ngFor="let day of days" >
                <ion-item >
                    <ion-label>{{day.work_day|translate}}</ion-label>
                    <ion-toggle [checked]="day.checked" [ngModel]="day.checked" (ngModelChange)="detectCheck($event, day)"></ion-toggle>
                </ion-item>
                <div class="time-table"  *ngIf="day.checked">
                    <ion-grid>
                        <ion-row class="duration" *ngFor="let duration of day.timeTable; let i=index" >
                                <ion-col col-5>
                                <ion-item>
                                    <ion-label>{{'From'|translate}} :</ion-label>
                                    <ion-datetime displayFormat="hh:mm A" pickerFormat="hh:mm A" [(ngModel)]="duration.from" cancelText="{{'Cancel'|translate}}" doneText="{{'Ok'|translate}}"></ion-datetime>
                                </ion-item>
                            </ion-col>
                            <ion-col col-5>
                                <ion-item>
                                    <ion-label>{{'To'|translate}} :</ion-label>
                                    <ion-datetime displayFormat="hh:mm A" pickerFormat="hh:mm A" [(ngModel)]="duration.to" cancelText="{{'Cancel'|translate}}" doneText="{{'Ok'|translate}}"></ion-datetime>
                                </ion-item>
                            </ion-col>
                            <ion-col col-2>
                                <button ion-button class="remove-btn"(click)="remove(i,day.timeTable)"><ion-icon ios="ios-close" md="md-close"></ion-icon></button>
                            </ion-col>
                        </ion-row>
                        <ion-row class="add-more"><button ion-button outline (click)="addmore(day)">{{'Add more'|translate}}</button> </ion-row>
                    </ion-grid>
                </div>
            </ion-list>
        </div>
    </ion-list>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title (click)="SaveChanges()">{{'Save changes'|translate}}</ion-title>
    </ion-toolbar>
</ion-footer>

