<ion-header>
    <ion-navbar>
        <ion-title *ngIf="!showLoader && userLocal.id == pageParams.id">
            {{'Profile'| translate}}
        </ion-title>
        <ion-title *ngIf="!showLoader && userLocal.id != pageParams.id">
                {{userData.fullname}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <uz-loader *ngIf="showLoader"></uz-loader>
    <div *ngIf="!showLoader" class="inner-content">
        <div class="top-header">
            <div class="cover-image">
                <!-- <img src="assets/img/bg1.jpg" alt=""/> -->
                <img [src]="userData.cover?imagePath(userData.cover,'covers'):'assets/img/noCover.png'">

                <div *ngIf="userLocal.id == pageParams.id" class="cover-cahnge" (click)="imageActionSheet()">
                    <ion-icon md='ios-camera-outline' ios='ios-camera-outline'></ion-icon>
                </div>
            </div>
            <div class="hover-div"></div>
            <ion-grid>
                <ion-row>
                    <ion-col col-12 class="user-img-div">
                        <ion-row>
                            <ion-col class="user-img" col-4>

                                <!-- <img src="assets/img/12.jpg" alt=""/> -->
                                <img [src]="userData.avatar?imagePath(userData.avatar,'avatars'):'assets/img/'+userData.gender+'.png'">
                                
                                <div *ngIf="userLocal.id == pageParams.id" class="change-img" (click)="imageActionSheet()">
                                    <ion-icon md='ios-camera-outline' ios='ios-camera-outline'></ion-icon>
                                </div>
                            </ion-col>    
                            
                            <ion-col col-6>
                                                                
                                <h2 class="user-name">{{userData.fullname}} <span><ion-icon md="ios-checkmark-circle-outline" ios="ios-checkmark-circle-outline"></ion-icon></span></h2>
                                <h2 *ngIf="userData.account_type == 'provider'" class="user-position">
                                    <span *ngFor="let service of userData.userServices, let inx = index">
                                        {{service.serviceName}} ,
                                    </span>
                                </h2>
                            </ion-col>
                            
                            <ion-col *ngIf="userLocal.id == pageParams.id" col-2 class="setting-btn">
                                <button  ion-button clear color="dark"   (click)="navigateTo('EditProfile', true)">
                                    <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row> 
                    </ion-col>
                    <ion-col col-12>
                        <div class="bottom-btn" *ngIf="userLocal.id != pageParams.id">
                            <ion-row>
                                <ion-col col-3 class="call-us">
                                    <ion-icon *ngIf="userData.showProfilePhoneMsg" name="call" (click)="openPopover($event, userData.userPhones)"></ion-icon>
                                </ion-col>
                                <ion-col col-6>
                                    <div *ngIf="userData.account_type == 'provider'" class="rate-div">
                                        <div class="main">

                                            <div class="applicatnt-rate-div">
                                                <ion-row>
                                                    <ion-col col-1></ion-col>
                                                    <ion-col col-6>
                                                        <h4 class="text-center eval-text">{{'Reputation score' |translate}}</h4>
                                                    </ion-col>
                                                    <ion-col col-4>
                                                        <h4 class="applicatnt-rate-num">{{userData.rater_count}}</h4>
                                                    </ion-col>
                                                    <ion-col col-1></ion-col>
                                                </ion-row>
                                            </div>
                                            <div class="stats-container">
                                                <ion-row>
                                                    <ion-col col-1></ion-col>
                                                    <ion-col col-6>
                                                        <div class="rating-b" >
                                                            <div class="rating-b-1">
                                                                <img src="assets/img/rating-b-1.png" alt=""/>
                                                            </div>
                                                            <div class="rating-b-2" [style.width.%]= "(userData.rating_value * 100)/5">
                                                                <img src="assets/img/rating-b-2.png" alt=""/>
                                                            </div>
                                                            
                                                        </div>
                                                    </ion-col>
                                                    <ion-col col-4>
                                                        <div class="rating-val">{{ userData.rating_value ? (userData.rating_value | number:'.1-1') : '0.0' }}</div>
                                                    </ion-col>
                                                    <ion-col col-1></ion-col>
                                                </ion-row>
                                            </div>


                                        </div>
                                    </div>
                                </ion-col>

                                <ion-col col-3 class="contact-us">
                                    <ion-icon *ngIf="userData.showProfilePhoneMsg" name="chatbubbles" (click)="MessagesDetail({'fullname':userData.fullname, 'user2':userData.id,'order_id':'0'})"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </div>

                    </ion-col>
                </ion-row>

            </ion-grid>
        </div>

        <div *ngIf="userData.account_type == 'provider'" class="map">
            <button ion-button full (click)="openBrowserMap()">{{userData.MreqAddress}}</button>
        </div>

        <div *ngIf="userData.account_type == 'provider'" class="discription">
            <p *ngIf="userData.notes">{{userData.notes}}</p>
            <p *ngIf="!userData.notes && userLocal.id == pageParams.id">{{'no_notes_plz_add'| translate}}</p>
            <p *ngIf="!userData.notes && userLocal.id != pageParams.id">{{'no_notes'| translate}}</p>
        </div>
        <!-- question rating  -->
        <ion-list *ngIf="userData.account_type == 'provider' && userData.service_type == '1'">
                <ion-list-header>
                    {{'Reviews'| translate}}
                </ion-list-header>
                <ion-item >
                    <h2>{{'Commitment to dates and agreements'|translate}}</h2>
                    <div class="user-rate">
                        <div class="stats-container">
                            <ion-row>
                                <ion-col col-4>
                                    <div class="rating-b" >
                                        <div class="rating-b-1">
                                            <img src="assets/img/rating-b-1.png" alt=""/>
                                        </div>
                                        <div class="rating-b-2" [style.width.%]= "(userData.q1_rating_value * 100)/5">
                                            <img src="assets/img/rating-b-2.png" alt=""/>
                                        </div>
                                        
                                    </div>
                                </ion-col>
                                <ion-col col-4>
                                    <div class="rating-val">{{ userData.q1_rating_value ? (userData.q1_rating_value | number:'.1-1') : '0.0' }} / {{userData.rater_count}}</div>
                                </ion-col>
                                <ion-col col-4></ion-col>
                            </ion-row>
                        </div>
                    </div>
                </ion-item>
                <ion-item >
                    <h2>{{'Efficiency and professionalism'|translate}}</h2>
                    <div class="user-rate">
                        <div class="stats-container">
                            <ion-row>
                                <ion-col col-4>
                                    <div class="rating-b" >
                                        <div class="rating-b-1">
                                            <img src="assets/img/rating-b-1.png" alt=""/>
                                        </div>
                                        <div class="rating-b-2" [style.width.%]= "(userData.q2_rating_value * 100)/5">
                                            <img src="assets/img/rating-b-2.png" alt=""/>
                                        </div>
                                        
                                    </div>
                                </ion-col>
                                <ion-col col-4>
                                    <div class="rating-val">{{ userData.q2_rating_value ? (userData.q2_rating_value | number:'.1-1') : '0.0' }} / {{userData.rater_count}}</div>
                                </ion-col>
                                <ion-col col-4></ion-col>
                            </ion-row>
                        </div>
                    </div>
                </ion-item>
                <ion-item >
                    <h2>{{'Behavior and Ethics'|translate}}</h2>
                    <div class="user-rate">
                        <div class="stats-container">
                            <ion-row>
                                <ion-col col-4>
                                    <div class="rating-b" >
                                        <div class="rating-b-1">
                                            <img src="assets/img/rating-b-1.png" alt=""/>
                                        </div>
                                        <div class="rating-b-2" [style.width.%]= "(userData.q3_rating_value * 100)/5">
                                            <img src="assets/img/rating-b-2.png" alt=""/>
                                        </div>
                                        
                                    </div>
                                </ion-col>
                                <ion-col col-4>
                                    <div class="rating-val">{{ userData.q3_rating_value ? (userData.q3_rating_value | number:'.1-1') : '0.0' }} / {{userData.rater_count}}</div>
                                </ion-col>
                                <ion-col col-4></ion-col>
                            </ion-row>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        <!-- 135 id from service table in database specified to معامل  labs  -->
        <ion-list *ngIf="userData.account_type == 'provider' && userData.service_id == '135'" class="prices">
            <ion-list-header>
                {{'price list'| translate}}
                <div class="add-reviews" *ngIf="userLocal.id == pageParams.id" item-end (click)="navigateTo('PriceList', true, priceList)"><h2><ion-icon name="add"></ion-icon>{{'Add'| translate}}</h2></div>
            </ion-list-header>
            <ion-item *ngFor="let item of priceList">
                <h2>{{item.title}}</h2>
                <p>{{item.price}} {{'EGP'|translate}}</p>
            </ion-item>
            <ion-item *ngIf="!priceList">
                <h2>{{'no_priceList'| translate}}</h2>
            </ion-item>
        </ion-list>


        <!-- shown to providers whos supply service type(2,3)  -->
        <ion-list *ngIf="userData.account_type == 'provider' && userData.service_type != '1'"  class="work-time">
            <ion-list-header>
                {{'Work Time'| translate}}
                <div class="add-reviews" *ngIf="userLocal.id == pageParams.id" item-end (click)="navigateTo('WorkTime', true)"><h2><ion-icon name="construct"></ion-icon>{{userData.userWorkTimes ? ('Edit'| translate) : ('Add'| translate)}}</h2></div>
                
            </ion-list-header>
            <ion-item *ngIf="!userData.userWorkTimes">
                <h2>{{'no_work_time_added'| translate}}</h2>
            </ion-item>
            <ng-container *ngIf="userData.userWorkTimes">
                <ion-item *ngIf="userData.userWorkTimes.user_work_type == 1">
                    <h2>{{'always_open'| translate}}</h2>
                </ion-item>
                <ion-item *ngIf="userData.userWorkTimes.user_work_type == 2">
                    <h2>{{'permanently_closed'| translate}}</h2>
                </ion-item>
                <ion-item *ngIf="userData.userWorkTimes.user_work_type == 3">
                    <h2>{{'no_hours_available'| translate}}</h2>
                </ion-item>
                <ng-container *ngIf="userData.userWorkTimes.user_work_type == 4">
                    <ion-item *ngFor="let day of userData.userWorkTimes.work_days; let inx = index">
                        <h2>{{day.work_day| translate}}</h2>
                        <p *ngFor="let tiime of userData.userWorkTimes.work_days[inx].timeTable">{{'From'|translate}} {{tiime.from}} {{'To'|translate}} {{tiime.to}}</p>
                        <button ion-button item-end outline *ngIf="userLocal.id != pageParams.id" (click)="navigateTo('Reservation', true,{'day':day.work_day,'provider_id':pageParams.id})">
                                {{'Book'|translate}}
                        </button>
                    </ion-item>
                </ng-container>
            </ng-container>
        </ion-list>

        <!-- rater who rate profile user -->
        <ion-list *ngIf="userData.account_type == 'provider'">
            <ion-list-header>
                {{'Reviews'| translate}}
                <div *ngIf="userLocal.id != pageParams.id && userData.service_type != '1'" class="add-reviews" item-end (click)="navigateTo('AddReview', true,{'user_id':userLocal.id,'provider_id':userData.id})"><h2><ion-icon name="add"></ion-icon>{{userData.yesYouRate ? ('Edit'| translate) : ('Add'| translate)}}</h2></div>
            </ion-list-header>
            <ion-item *ngFor = "let rater of userRaters">
                <ion-avatar item-start (click)="goProfilePage(rater.user_id)">
                    <img [src]="rater.avatar?imagePath(rater.avatar,'avatars'):'assets/img/'+rater.gender+'.png'">
                </ion-avatar>
                <h2>{{rater.fullname}}<span>{{rater.date_added | amTimeAgo}}</span></h2>
                <div class="user-rate">
                    <div class="stats-container">
                        <ion-row>
                            <ion-col col-4>
                                <div class="rating-b" >
                                    <div class="rating-b-1">
                                        <img src="assets/img/rating-b-1.png" alt=""/>
                                    </div>
                                    <div class="rating-b-2" [style.width.%]= "(rater.rating_value * 100)/5">
                                        <img src="assets/img/rating-b-2.png" alt=""/>
                                    </div>
                                    
                                </div>
                            </ion-col>
                            <ion-col col-4>
                                <div class="rating-val">{{ rater.rating_value ? (rater.rating_value | number:'.1-1') : '0.0' }}</div>
                            </ion-col>
                            <ion-col col-4></ion-col>
                        </ion-row>
                        <!-- <div class="rating-b" >
                            <div class="rating-b-1">
                                <img src="assets/img/rating-b-1.png" alt=""/>
                            </div>
                            <div class="rating-b-2" [style.width.%]= "(rater.rating_value * 100)/5">
                                <img src="assets/img/rating-b-2.png" alt=""/>
                            </div>
                            
                        </div>
                        <div class="review-num">
                            <span> {{rater.rating_value}}.0</span>
                        </div> -->
                    </div>
                </div>
                <p>{{rater.rating_message}}</p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

