<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="{{'Search service'| translate}}"></ion-searchbar>
<div class="logo" (click)="navigateTo('SearchResults')"><span>U</span><span>b</span><span>z</span><span>i</span><span>l</span>

      <span>|</span></div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="nearbyServices">
      {{'nearby-services' | translate}}
    </ion-segment-button>
    <ion-segment-button value="qoutes">
      {{'Get-qoutes' | translate}}
    </ion-segment-button>
    <ion-segment-button value="book">
      {{'Book-schedule' | translate}}
    </ion-segment-button>
  </ion-segment>

  <uz-loader *ngIf="ubzilLoader" [full]="false" [relative]="false"></uz-loader>

  <div [ngSwitch]="segment" class="my-segment">
    <ion-grid *ngSwitchCase="'nearbyServices'">
      <ion-row>

        <ion-col *ngFor="let service of nearByServices" class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, service.id)">
            <div class='category-img'>
              <img [src]="(service.ser_icon)?imagePath(service.ser_icon):'assets/img/no-image.png'" alt="" />
            </div>
            <!-- <ion-avatar item-left (click)="visitProfile(comment.id)">
              <img [src]="(comment.avatar)?imagePath(comment.avatar):'assets/img/male-alt.png'" alt="male">
            </ion-avatar> -->
            <div class="title">
              <h4>{{service.service_name}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>
       <!--
        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/homeserv.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'Home_services' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/wedding.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'Events_Weddings' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/doctor.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'Vezeta_doctors' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/accesory.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'Personal' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/24-hours.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'On_demand' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/customer-service.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'Business_services' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/homeserv.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'Home_services' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/wedding.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'Events_Weddings' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/doctor.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'Vezeta_doctors' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/accesory.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'Personal' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, 'type')">
            <div class='category-img'>
              <img src="assets/img/png/24-hours.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'On_demand' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('')">
            <div class='category-img'>
              <img src="assets/img/png/customer-service.png" alt="" />
            </div>
            <div class="title">
              <h4>{{'Business_services' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


       -->

      </ion-row>
    </ion-grid>


    <ion-grid *ngSwitchCase="'qoutes'">
      <ion-row>
        <ion-col *ngFor="let service of requestServices" col-4 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, service.id)">
            <div class='category-img'>
              <img [src]="(service.ser_image)?imagePath(service.ser_image):'assets/img/png/'+service.id+'.png'" alt="" />
            </div>
            <div class="title">
              <h4>{{service.service_name }}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>
      <!--
        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('qoutes')">
            <div class='category-img'>
              <img src="assets/img/png/24-hours.png" alt=""/>
            </div>
            <div class="title">
              <h4>{{'On_demand' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>


        <ion-col col-4 class="category-col">
          <div class="category" (click)="navigateTo('qoutes')">
            <div class='category-img'>
              <img src="assets/img/png/customer-service.png" alt=""/>
            </div>
            <div class="title">
              <h4>{{'Business_services' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>
      -->

      </ion-row>
    </ion-grid>


    <ion-grid *ngSwitchCase="'book'">
      <ion-row>

        
        <ion-col *ngFor="let service of bookDate" col-6 class="category-col">
          <div class="category" (click)="navigateTo('SubCategory',service.subCount, service.id)">
            <div class='category-img'>
              <img [src]="(service.ser_image)?imagePath(service.ser_image):'assets/img/png/'+service.id+'.png'" alt="" />
            </div>
            <div class="title">
              <h4>{{service.service_name}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>

      <!--
        <ion-col col-6 class="category-col">
          <div class="category" (click)="navigateTo('book')">
            <div class='category-img'>
              <img src="assets/img/png/lab.png" alt=""/>
            </div>
            <div class="title">
              <h4>{{'Medical lab' | translate}}</h4>
            </div>
            <div class="wight-effect"></div>
          </div>
        </ion-col>

      -->
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
