
<ion-header>
    <ion-navbar>
        <ion-title>{{'Reservations' | translate}}</ion-title>
    </ion-navbar>
    <!-- <ng-container *ngIf="!showLoader"> -->
        <!-- <ion-toolbar class="segment-holder" *ngIf="userLocal.account_type == 'provider'"> -->
        <ion-toolbar class="segment-holder">
            <ion-segment (ionChange)="onSegmentChange(bookingType)" [(ngModel)]="bookingType">
                <ion-segment-button value="bookIn">
                    {{'import_reservations' | translate}}
                </ion-segment-button>
                <ion-segment-button value="bookOut">
                    {{'export_reservations' | translate}}
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    <!-- </ng-container> -->
    
</ion-header>

<ion-content>
    <uz-loader *ngIf="showLoader" [full]="false" [relative]="false"></uz-loader>
    <ion-refresher (ionRefresh)="refreshBooking($event,bookingType)">
        <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="pullingText" refreshingSpinner="circles" [refreshingText]="refreshingText">
        </ion-refresher-content>
    </ion-refresher>

    <div class="main-content" *ngIf="!showLoader">
        <ion-list *ngIf="bookingType === 'bookIn'">
            <ion-item *ngFor="let inBooking of inBookingData; let indx = index">
                <ion-thumbnail item-start (click)="goProfilePage({'id':inBooking.user_id})">
                    <img [src]="(inBooking.avatar)?imagePath('avatars/'+inBooking.avatar):'assets/img/'+inBooking.gender+'.png'" alt="" />
                </ion-thumbnail>
                <h2>{{inBooking.fullname}} <span item-end class="time">{{inBooking.date_added | amTimeAgo}}</span></h2>
                <h4> {{inBooking.booking_day | translate}} <span item-end class="time">{{inBooking.booking_date}}</span></h4>
                <div class="bottom-btn">
                    <button *ngIf="inBooking.booking_status == '1'" ion-button outline (click)="deleteBooking(inBooking.booking_id, indx)" color="danger" >{{'Delete'|translate}}</button>
                    <button ion-button outline (click)="navigateTo('ReservationDetails',true,{booking_id:inBooking.booking_id})">{{'Details'|translate}}</button>
                </div>
            </ion-item>
            <!-- fetch more data -->
            <p class="small" text-center *ngIf="!moreData">
                {{'no_contents' | translate}}
            </p>
            <!-- <ion-infinite-scroll *ngIf="moreData" (ionInfinite)="fetchMoreData($event,bookingType)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="loadingText">
                ></ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
            <!-- nodata -->
            <div *ngIf="noData" class="noData">
                <ion-icon name="alert"></ion-icon>
                <div> {{'no_in_booking' | translate}}</div>                
            </div>
        </ion-list>


        <!-- ******************************************************************** -->
        <!-- outBookingData ******************************************************-->
        <!-- ******************************************************************** -->
        <ion-list *ngIf="bookingType === 'bookOut'">
            <ion-item *ngFor="let outBooking of outBookingData; let indx = index">
                <ion-thumbnail item-start (click)="goProfilePage({'id':outBooking.user_id})">
                    <img [src]="(outBooking.avatar)?imagePath('avatars/'+outBooking.avatar):'assets/img/'+outBooking.gender+'.png'" alt="" />
                </ion-thumbnail>
                <h2>{{outBooking.fullname}} <span item-end class="time">{{outBooking.date_added | amTimeAgo}}</span></h2>
                <h4> {{outBooking.booking_day | translate}} <span item-end class="time">{{outBooking.booking_date}}</span></h4>
                <div class="bottom-btn">
                    <button ion-button outline (click)="cancelBooking(outBooking.booking_id, indx)" color="danger" >{{'Cancel'|translate}}</button>
                    <button ion-button outline (click)="navigateTo('ReservationDetails',true,{booking_id:outBooking.booking_id})">{{'Details'|translate}}</button>

                </div>
            </ion-item>
            <!-- fetch more data -->
            <p class="small" text-center *ngIf="!moreData">
                {{'no_contents' | translate}}
            </p>
            
            <!-- nodata -->
            <div *ngIf="noData" class="noData">
                <ion-icon name="alert"></ion-icon>
                <div> {{'no_out_booking' | translate}}</div>                
            </div>
        </ion-list>
    </div>
    <ion-infinite-scroll *ngIf="moreData" (ionInfinite)="fetchMoreData($event,bookingType)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="loadingText">
        ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>


