
<ion-header>
    <ion-navbar>
        <ion-title>{{'serProvs' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <uz-loader *ngIf="loader"></uz-loader>
    <ion-refresher (ionRefresh)="refreshProviders($event)">
            <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="pullingText" refreshingSpinner="circles" [refreshingText]="refreshingText">
            </ion-refresher-content>
    </ion-refresher>
    <div class="main-content">
        <ion-list>
            <ion-item *ngFor="let provider of providers">
                <ion-thumbnail item-start (click)="goProfilePage(provider.id)">
                               <img [src]="provider.avatar?imagePath(provider.avatar):'assets/img/'+provider.gender+'.png'">
                </ion-thumbnail>
                <h2>
                    {{provider.fullname}} 
                    <span class="distance">
                    <ion-icon color="primary" name="pin"></ion-icon>    
                    {{provider.distance | number:'.2-2'}} {{'km'|translate}}
                    </span>
                </h2>
                
                <div class="user-rate">
                    <div class="stats-container">
                        <div class="rating-b" >
                            <div class="rating-b-1">
                                <img src="assets/img/rating-b-1.png" alt=""/>
                            </div>
                            <div class="rating-b-2" [style.width.%]= "provider.rating_value ? ((provider.rating_value * 100)/5) : 0">
                                <img src="assets/img/rating-b-2.png" alt=""/>
                            </div>
                        </div>
                        <span>{{ provider.rating_value ? (provider.rating_value | number:'.1-1') : '0.0' }}</span>
                        <div class="review-num"><h4>{{provider.rater_count}} {{'Review'|translate}}</h4></div>
                    </div>
                </div>
                <div class='button-div'>
                    <ion-icon name="chatbubbles" (click)="MessagesDetail({'fullname':provider.fullname, 'user2':provider.id,'order_id':'0'})"></ion-icon> 
                    <ion-icon name="call" (click)="openPopover($event, provider.userPhones)"></ion-icon>     
                </div>

            </ion-item>
            <!-- <ion-item>
                <ion-thumbnail item-start (click)="goProfilePage()">
                               <img src="assets/img/13.jpg">
                </ion-thumbnail>
                <h2>حسين محمود</h2>
                <span item-end class="distance">10 km</span>
                <div class="user-rate">
                    <div class="stats-container">
                        <div class="rating-b" >
                            <div class="rating-b-1">
                                <img src="assets/img/rating-b-1.png" alt=""/>
                            </div>
                            <div class="rating-b-2" style="width:90%">
                                <img src="assets/img/rating-b-2.png" alt=""/>
                            </div>
                        </div>
                        <span> 4.5</span>
                        <div class="review-num"><h4>25 {{'Review'|translate}}</h4></div>
                    </div>
                </div>
                <div class='button-div'>
                    <ion-icon name="chatbubbles" (click)="MessagesDetail()"></ion-icon> 
                    <ion-icon name="call" (click)="openPopover($event)"></ion-icon>     
                </div>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start (click)="goProfilePage()">
                               <img src="assets/img/14.jpg">
                </ion-thumbnail>
                <h2>حسين محمود</h2>
                <span item-end class="distance">20 km</span>
                <div class="user-rate">
                    <div class="stats-container">
                        <div class="rating-b" >
                            <div class="rating-b-1">
                                <img src="assets/img/rating-b-1.png" alt=""/>
                            </div>
                            <div class="rating-b-2" style="width:50%">
                                <img src="assets/img/rating-b-2.png" alt=""/>
                            </div>
                        </div>
                        <span> 2.5</span>
                        <div class="review-num"><h4>25 {{'Review'|translate}}</h4></div>
                    </div>
                </div>
                <div class='button-div'>
                    <ion-icon name="chatbubbles" (click)="MessagesDetail()"></ion-icon> 
                    <ion-icon name="call" (click)="openPopover($event)"></ion-icon>     
                </div>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start (click)="goProfilePage()">
                               <img src="assets/img/15.jpg">
                </ion-thumbnail>
                <h2>حسين محمود</h2>
                <span item-end class="distance">30 km</span>
                <div class="user-rate">
                    <div class="stats-container">
                        <div class="rating-b" >
                            <div class="rating-b-1">
                                <img src="assets/img/rating-b-1.png" alt=""/>
                            </div>
                            <div class="rating-b-2" style="width:30%">
                                <img src="assets/img/rating-b-2.png" alt=""/>
                            </div>
                        </div>
                        <span> 1.5</span>
                        <div class="review-num"><h4>25 {{'Review'|translate}}</h4></div>
                    </div>
                </div>
                <div class='button-div'>
                    <ion-icon name="chatbubbles" (click)="MessagesDetail()"></ion-icon> 
                    <ion-icon name="call" (click)="openPopover($event)"></ion-icon>     
                </div>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start (click)="goProfilePage()">
                               <img src="assets/img/16.jpg">
                </ion-thumbnail>
                <h2>حسين محمود مصطفى  </h2>
                <span item-end class="distance">50 km</span>
                <div class="user-rate">
                    <div class="stats-container">
                        <div class="rating-b" >
                            <div class="rating-b-1">
                                <img src="assets/img/rating-b-1.png" alt=""/>
                            </div>
                            <div class="rating-b-2" style="width:70%">
                                <img src="assets/img/rating-b-2.png" alt=""/>
                            </div>
                        </div>
                        <span> 3.5</span>

                        <div class="review-num"><h4>25 {{'Review'|translate}}</h4></div>
                    </div>
                </div>
                <div class='button-div'>
                    <ion-icon name="chatbubbles" (click)="MessagesDetail()"></ion-icon> 
                    <ion-icon name="call" (click)="openPopover($event)"></ion-icon>     
                </div>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start (click)="goProfilePage()">
                               <img src="assets/img/17.jpg">
                </ion-thumbnail>
                <h2>حسين محمود</h2>
                <span item-end class="distance">70 km</span>
                <div class="user-rate">
                    <div class="stats-container">
                        <div class="rating-b" >
                            <div class="rating-b-1">
                                <img src="assets/img/rating-b-1.png" alt=""/>
                            </div>
                            <div class="rating-b-2" style="width:0%">
                                <img src="assets/img/rating-b-2.png" alt=""/>
                            </div>
                        </div>
                        <span> 0.0</span>
                        <div class="review-num"><h4>25 {{'Review'|translate}}</h4></div>
                    </div>
                </div>
                <div class='button-div'>
                    <ion-icon name="chatbubbles" (click)="MessagesDetail()"></ion-icon> 
                    <ion-icon name="call" (click)="openPopover($event)"></ion-icon>     
                </div>
            </ion-item> -->
        </ion-list>
        <p class="small" text-center *ngIf="!moreData">
            
            {{'no_contents' | translate}}
        </p>
        <ion-infinite-scroll *ngIf="moreData" (ionInfinite)="fetchMoreData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="loadingText">
            ></ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <div *ngIf="noData" class="noData">
            <ion-icon name="alert"></ion-icon>
            <div> {{'no-service-providers' | translate}}</div>                
        </div>


    </div>
</ion-content>


