
<ion-header>
    <ion-navbar>
        <ion-title>{{'balance_record' | translate}}</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                    <ion-icon name="close"></ion-icon>
                <!--                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>-->
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="refreshBalanceHistory($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="pullingText" refreshingSpinner="circles" [refreshingText]="refreshingText">
        </ion-refresher-content>
    </ion-refresher>

    <div class="main-content">
        <div class="inner-content" *ngIf="!showLoader">
            <ion-list>
                <ion-item *ngFor = " let balan of userBalances">
                    <h2>{{balan.date_added | amDateFormat: 'YYYY-MM-DD hh:mmA'}}</h2>
                    <p>{{balan.balanceMsg}} {{balan.balance}} {{'EGP'|translate}} {{balan.balanceMsgComplete}} {{balan.order_title}} {{balan.payway}} </p>
                </ion-item>
            </ion-list>
            <p class="small" text-center *ngIf="!moreData">
                
                {{'no_contents' | translate}}
            </p>
            <ion-infinite-scroll *ngIf="moreData" (ionInfinite)="fetchMoreData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="loadingText">
                ></ion-infinite-scroll-content>
            </ion-infinite-scroll>

        </div>

    </div>

</ion-content>


